aligned($prefix='')
    .align-stretch{$prefix}
        align-items stretch
        -webkit-box-align stretch
        -ms-flex-align stretch
    .align-start{$prefix}
        align-items flex-start
        -webkit-box-align start
        -ms-flex-align flex-start
    .align-center{$prefix}
        align-items center
        -webkit-box-align center
        -ms-flex-align center
    .align-end{$prefix}
        align-items flex-end
        -webkit-box-align end
        -ms-flex-align flex-end