margins($size, $joined)
    .m-{$joined}
        margin $size  
    .mt-{$joined}
    .my-{$joined}
        margin-top $size  
    .mr-{$joined}
    .mx-{$joined}
        margin-right $size  
    .mb-{$joined}
    .my-{$joined}
        margin-bottom $size  
    .ml-{$joined}
    .mx-{$joined}
        margin-left $size  

margin-autos($prefix='')
    .m-auto{$prefix}
        margin auto
    .mt-auto{$prefix}
    .my-auto{$prefix}
        margin-top auto
    .mr-auto{$prefix}
    .mx-auto{$prefix}
        margin-right auto
    .mb-auto{$prefix}
    .my-auto{$prefix}
        margin-bottom auto
    .ml-auto{$prefix}
    .mx-auto{$prefix}
        margin-left auto
