paddings($size, $joined)
    .p-{$joined}
        padding $size  
    .pt-{$joined}    
    .py-{$joined}
        padding-top $size
    .pr-{$joined}
    .px-{$joined}
        padding-right $size
    .pb-{$joined}
    .py-{$joined}
        padding-bottom $size
    .pl-{$joined}
    .px-{$joined}
        padding-left $size