sizing(prefix='')
    cols(prefix)
    spacings(prefix)
    margin-autos(prefix)
    justified(prefix)
    aligned(prefix)
    text-centered(prefix)
    orders(prefix)
    font-sizes(prefix)
    height-maker(prefix)