/*
    You load the app in first. Then you can declare over-rides
    or even namespace the style under a selector. 
    Finally you call the flexus method to run the setup. 
*/
@import('./setup/index.styl') 
flexus()
